$light-bg: #829CBC;
$light-font-title: #ffffff;
$light-font: #1F487E;
$light-title-app: #ffffff;
$light-header-panel: #6290C8;
$light-low-status: #99D4AC;
$light-mid-status: #F5DF53;
$light-high-status: #E21A1A;
$light-menu-bg: #ffffff;
$light-note-bg: #ffffff;

$dark-bg: #121212;
$dark-font-title: #1D3461;
$dark-font: #B1B1B1;
$dark-title-app: #E3B024;
$dark-header-panel: #000000;
$dark-low-status: #E8AAEC;
$dark-mid-status: #ff9100;
$dark-high-status: #e54545;
$dark-menu-bg: #000000;
$dark-note-bg: #202020; 